/*pc-max用*/
@media all and (max-width: 1000px) {
  .container {
    max-width: 1000px;
    width: 100%;
  }

/*ipad用メディアクエリ*/
@media all and (max-width: 846px) {
  .submenu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .submenu {
    clear: left;
  }

  .widthMenu a {
    width: 146px;
    text-align: center;
  }

  .menu-list {
    background-color: rgba(72,72,72,0.9);
  }

  .top-wrapper h1 {
    font-size: 40px;
  }

  .top-wrapper h2 {
    font-size: 20px;
  }

  .greet {
    font-size: 14.7px;
    width: 670px;
  }

  .access-wrapper {
    height: 1000px;
  }

  .access-text {
    left: 20%;
  }

  .ggmap iframe {
    position: absolute;
    top: 550px;
    left: 20%;
    height: 35%;
    width: 60%;
  }

/*スマホ用メディアクエリ*/
@media all and (max-width: 670px) {
  .submenu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 80%;
  }

  .top-wrapper h1 {
    font-size: 27px;
  }

  .top-wrapper h2 {
    font-size: 15px;
  }

  .heading {
    font-size: 20px;
  }

  .greet {
    font-size: 10px;
    width: 460px;
  }

  .service-wrapper {
    height: 700px;
  }

  .service {
    width: 50%;
  }

  .message-wrapper .btn {
    width: 100%;
  }

}
