/*共通設定*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "fantasy";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding: 20px 0;
  color: #444444;
}

/*トップ*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  padding: 8px 24px;
  color: white;
  background-color: #009900;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 5px #003300;
}

.btn:hover {
  background-color: #006600;
  cursor: pointer;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

/*ヘッダー*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(72,72,72,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 55px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  margin: 20px;
  display: none;
}

.menu-icon:active {

}

.clear {
  clear: left;
}

/*あいさつ*/
.greet-wrapper {
  height: 500px;
  padding: 50px 0 50px 0;
  background-color: #f7f7f7;
  text-align: center;
}

.greet {
  line-height: 40px;
  text-align: left;
  width: 788px;
  margin: 0 auto;
}

/*サービス紹介*/
.service-wrapper {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  padding: 30px ;
}

.service {
  float: left;
  width: 25%;
  height: 200px;
}

.service-icon {
  height: 80px;
  width: 80px;
}

.service p {
  color: black;
  text-align: center;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

/*アクセス*/
.access-wrapper {
  height: 500px;
  background-color: rgb(34,49,52);
  position: relative;
}

.access-heading {
  text-align: center;
  color: #eeeeee;
  padding: 30px 0;
}

.access-bus {
  line-height: normal;
  color: white;
}

.access-text {
  text-align: left;
  color: white;
  line-height: 70px;
}

.ggmap {
  overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
  position: absolute;
  top: 80px;
  right: 10%;
  height:80%;
  width: 45%;
}

/*問合せフォーム*/
.form {
  width: 400px;
  margin: 0 auto;
  height: 500px;
  padding: 50px;
}

/*フッター*/
footer {
  height: 65px;
  background-color: #555555;
}

.footer-logo p {
  height: auto;
  padding: 20px 0;
  text-align: center;
}
